.banner {
    width: 100%;
    padding: 2em 0;
}

.row {
    align-items: center;
}

h1 {
    text-shadow: 1px 1px 2px #7c7c7c;
}

.btn {
    padding: 0.5em 1.5em;
    border-radius: 2em;
    box-shadow: 7px 7px 5px rgba(105, 73, 73, 0.15);
}


.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    margin: 0 -10px; 
}

.card {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}


footer {
	background: #001B79;
	padding: 86px 0;
}
.single-content {
	text-align: center;
	padding: 115px 0;
}
.single-box p {
	color: #fff;
	line-height: 1.9;
}
.single-box h3 {
	font-size: 16px;
	font-weight: 700;
	color: #fff;
}
.single-box .card-area i {
	color: #ffffff;
	font-size: 20px;
	margin-right: 10px;
}
.single-box ul {
	list-style: none;
	padding: 0;
}
.single-box ul li a {
	text-decoration: none;
	color: #fff;
	line-height: 2.5;
	font-weight: 100;
}
.single-box h2 {
	color: #fff;
	font-size: 20px;
	font-weight: 700;
}
#basic-addon2 {
	background: #fe1e4f;
	color: #fff;
}
.socials i {
	font-size: 18px;
	margin-right: 15px;
}


@media (max-width: 767px) {
	.single-box {
		margin-bottom: 50px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.single-box {
		margin-bottom: 50px;
	}
}

@media screen and (max-width: 567px) {
    .banner {
        text-align: center;
    }

    .card-wrapper {
        margin: 0; 
    }

    .card {
        width: 10px; 
    }
}
